div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 90%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: justify;
}


div.gallery:hover {
    border: 1.5 px solid #777;
}